<div class="employee-container">
    <button (click)="newEmployee()">Add New Employee</button>
  
    <div *ngIf="selected || !isEditing">
      <app-employee-form #empForm [employee]="selected" (save)="saveEmployee($event)"></app-employee-form>
    </div>
  
    <div class="cards">
      <div class="card" *ngFor="let emp of employees">
        <img [src]="emp.avatar" alt="Avatar" class="avatar" />
        <h3>{{ emp.name }}</h3>
        <p>{{ emp.designation }}</p>
        <p>{{ emp.companyName }}</p>
        <p>{{ emp.email }}</p>
        <p>{{ emp.contactNo }}</p>
        <button (click)="editEmployee(emp)">Edit</button>
        <button (click)="deleteEmployee(emp)">Delete</button>
      </div>
    </div>
  </div>
  